{% extends "base.html" %}
{% block page %}
<div class="container-fluid text-center bg-dark header" style="color:#fff">
    <div class="row">
        <div class="col-md-4 col-sm-1">
            <p>Connected to Garmin as <span id="garmin-name"></span>
        </div>
        <div class="col-md-4 col-sm-1">
            <p>Connected to Runkeeper as <span id="runkeeper-name"></span>
        </div>
        <div class="col-md-4 col-sm-1">
            <a href="javascript:clear_credentials()">Logout</a></p>
        </div>
    </div>
</div>
<h1 class="text-center" style="margin-top: 2rem;">Upload Garmin activities to Runkeeper</h1>
<div id="status">
    <p>Please wait, loading Activities...</p>
</div>
<div class="container-fluid" id="list-container">
</div>

<footer class="fixed-bottom bg-dark">
  <div class="container-fluid">
      <form id="options">
          <div class="row">
              <div class="col-1">
                  <i class="fa fa-cog" aria-hidden="true"></i>
              </div>
              <div class="col-11">
                  <label class="form-check-label">
                      <input class="override-gps" type="checkbox" value="">
                      Override GPS distance
                  </label>
              </div>
          </div>
          </div>
      </form>
  </div>
</footer>

{% endblock %}